if NIZYNQ
choice
	prompt "NI Zynq board select"

config TARGET_NI_CRIO9068
	bool "NI cRIO-9068"
	select CRIO

config TARGET_NI_CRIO9068_MFG
	bool "NI cRIO-9068 manufacturing U-Boot"
	select MFG
	select CRIO

config TARGET_NIMYRIO
	bool "NI myRIO"
	select MYRIO

config TARGET_NIMYRIO_BO
	bool "NI myRIO board only"
	select MYRIO

endchoice

config SYS_BOARD
	default "criozynq" if CRIO
	default "myrio" if MYRIO

config SYS_VENDOR
	default "ni"

config SYS_SOC
	default "zynq"

config SYS_CONFIG_NAME
	default "nicriozynq" if CRIO
	default "nimyrio" if MYRIO

config MFG
	bool "Manufacturing U-Boot"

config CRIO
	bool "cRIO derivatives"

config MYRIO
	bool "myRIO derivatives"

endif
