if NIZYNQ
choice
	prompt "NI Zynq board select"

config TARGET_NI_CRIO9068
	bool "NI cRIO-9068"

config TARGET_NIMYRIO
	bool "NI myRIO"

config TARGET_NIMYRIO_BO
	bool "NI myRIO board only"
	select MYRIO

endchoice

config SYS_BOARD
	default "criozynq" if TARGET_NIZYNQ_CRIO9068
	default "myrio" if TARGET_NIMYRIO

config SYS_VENDOR
	default "ni"

config SYS_SOC
	default "zynq"

config SYS_CONFIG_NAME
	default "nicriozynq" if TARGET_NI_CRIO9068
	default "nimyrio" if TARGET_NIMYRIO

endif
