/dts-v1/;
/include/ "ni-zynq.dtsi"

/* NIDEVCODE 7AAE */

/ {
	model = "NI roboRIO 2.0";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	aliases {
		nullserial = &null_uart;
		i2c0 = &i2c0;
		spi0 = &qspi;
		mmc1 = &sdhci1;
	};

	chosen {
		stdout-path = "nullserial:115200n8";
	};

	amba {
		i2c0: i2c@e0004000 {
			nicpld@40 {
				watchdogs {
					boot-watchdog {
						interrupt-parent = <&gpio>;
						interrupts = <1 2 /* IRQ_TYPE_EDGE_FALLING */>;
					};
				};

			};
		};
	};
};

&gem0 {
	status = "okay";
	clocks = <&clkc 30>, <&clkc 13>, <&clkc 15>;
	clock-names = "pclk", "hclk", "tx_clk";
	xlnx,emio = <1>;
	cdns,emio-gpio-speed-100 = <54>;
};

&qspi {
	status = "okay";
	is-dual = <0>;
	bus-num = <0>;
	num-cs = <0>;
	flash@0 {
		compatible = "micron,mt25qu128", "spi-flash";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <10000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@fsbl {
			label = "fsbl";
			reg = <0x0 0x20000>;
		};
		partition@u-boot {
			label = "u-boot";
			reg = <0x20000 0x400000>;
		};
		partition@defaultbit {
			label = "defaultbit";
			reg = <0x420000 0x700000>;
			read-only;
		};
		partition@- {
			label = "-";
			reg = <0xB20000 0x4E0000>;
		};
	};
};

&sdhci1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&can0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "peripheral";
};

&ni_uart0 {
	status = "okay";
};

&ni_uart1 {
	status = "okay";
};

&clkc {
	/* Enable fclk1 for serial. */
	fclk-enable = <0x2>;
};
