CONFIG_ARM=y
CONFIG_ARCH_ZYNQ=y
CONFIG_NIZYNQ=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_SIGNATURE=y
# CONFIG_CMD_XIMG is not set
CONFIG_CMD_PING=y
# CONFIG_CMD_SETGETDCR is not set
CONFIG_CONSOLE_LINUX_DEV="ttyPS0"
CONFIG_CONSOLE_UBOOT_DEV="serial@e0001000"
CONFIG_SYS_PROMPT="U-Boot> "
CONFIG_CMD_DHCP=y
CONFIG_CMD_LINK_LOCAL=y
CONFIG_NETCONSOLE=y
CONFIG_NULLDEV_SERIAL=y
CONFIG_CMD_I2C=y
CONFIG_CMD_NAND=y
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_IMLS is not set
CONFIG_LIB_RAND=y # required by CONFIG_CMD_LINK_LOCAL
CONFIG_TARGET_NI_ELVISIII_MFG=y
CONFIG_DEVICE_CODE="7928"
CONFIG_DEVICE_DESC="ELVIS III"
CONFIG_PREFIXED_DEVICE_DESC="NI ELVIS III"
CONFIG_NI_USB_PID="0x762F"
CONFIG_CMD_USB=y
CONFIG_USB=y
# CONFIG_DISK is not set
CONFIG_ZYNQ_SDHCI=y
CONFIG_CMD_MMC=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_INI=y
CONFIG_DEFAULT_DEVICE_TREE="ni-elvisiii"
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_CADENCE=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_CLK_ZYNQ=y
CONFIG_HUSH_PARSER=y
CONFIG_DM_STDIO=y
CONFIG_CMD_UBI=y
